#AboutUss {
	background-color: #004886;
	
	h2{
		// background-color:#ffba2f;
		color: white;
		
	}

	//公告
	.section3 {
		margin-top: 50px;
		.announcement {
			background-color: wheat !important;
			border: #ffba2f 5px solid;
			color: black;
			font-family:cursive;
			font-weight:bold;
		  margin: auto;
	   	text-align: start;
		div {
			font-size: 25px;
			padding: 30px;
		}
		tr{
			border: black 12px solid;
			td{
				border-bottom: black 1px solid;
			}
			td:last-child{
				text-align: end;
			}
		}
	}
}

.v-col-lg-3 {
	padding: 0;
}

.center {
	text-align: center;
	margin: auto;
}

iframe {
	width: 80%;
	height: 80%;
}

@include md {
	//公告
	.section3 {
		.announcement {
			background-color: #003158;
			// width: 80%;
			margin: auto;
			text-align: start;
			div {
				font-size: 30px;
			}
		}
	}
}

@include lg {
	h1 {
		font-size: 50px;
		margin: 20px;
	}
	//公告
	.section3 {
		.announcement {
			background-color: #003158;
			// width: 70%;
			margin: auto;
			text-align: start;
			div {
				font-size: 35px;
			}
		}
	}
	
	.v-container{
		width: 60%;
	}

	.flex {
		display: flex;
		justify-content: center;
	}
	iframe {
		width: 500px;
		height: 500px;
	}
	p {
		padding-left: 20px;
		text-align: left;
	}
}

}