
.v-container
  background-color: #004886

.v-main
  background-color: #004886

.v-table > .v-table__wrapper > table
  background-color: #003158
  border: 3px solid black

.tr
  th
    color: black !important
    font-weight: bolder
    font-size: 20px
    text-align: center!important

.vbtn
  background-color: #d9d9d9
  color: black

// element.style
//   margin: 0
