#footer{
  text-align: center;
  background-color: #003158;
  font-size: 20px;
  img{
    margin: 50px;
    width: 120px;
  }
  
  @include md{
    font-size: 30px;
    img{
      margin: 50px;
      width: 160px;
    }
  }
}