#ProductCard{
  .card{
    display: flex;
    background-color: #ffba2f;
  }
  .v-img{
    border-right: 5px #2b2b2b ;
  }
  .food-name{
    width: 50%;
  }

  .v-card-title{
    color: #2b2b2b;
    padding: 0;
    line-height: 3rem;
  }
  .v-card-text{
    color: #305dab;
    padding: 0;
    line-height: 1rem;
  }
  .price-shopping{
    // width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
  }
  .v-card-subtitle{
    font-size: 30px;
  }

  .v-responsive__sizer{
    padding-bottom: 0 !important;
  }


@include md{
  .v-card-subtitle{
    font-size: 30px !important;
    line-height: 50px;
  }
}

@include lg{
  .v-card-subtitle{
    font-size: 30px !important;
    line-height: 50px;
  }
}
}