#ProductCard{
  .card{
    display: flex;
    // background-color: #004886;
    // background-color: #7198b9;
    background-color: #eccc3c;

  }
  .v-img{
    border-right: 5px #2b2b2b ;
    // padding-right: 10px;
  }
  .food-name{
    width: 50%;
    padding-left: 5px;
  }
  .v-card-title{
    // color: #ffffff;
    color: #000000;
    padding: 0;
    line-height: 3rem;
    font-size: 25px !important;
  }
  .v-card-text{
    pre{
    font-size: 18px;
    }
    // color: #d4d4d4;
    color: #2da815;
    padding: 0;
    line-height: 1rem;
  }
  .price-shopping{
    // width: 30%;
    // color: white;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .v-card-subtitle{
    font-size: 30px;
  }

  .v-responsive__sizer{
    padding-bottom: 0 !important;
  }


@include md{
  .v-card-subtitle{
    font-size: 30px !important;
    line-height: 50px;
  }
  .food-name{
    padding-left: 10px;
  }
  
}

@include lg{
  
  // .vpadding{
  //   max-width: none !important;
  //   padding: 16px 0px !important;
  // }
  .v-card-subtitle{
    font-size: 30px !important;
  }
  .v-img{
    width:  130px;
    height : 130px;
    // padding-right: 20px !important;
  }
  .food-name{
    padding-left: 10px;
  }
  pre{
    font-size: 16px !important;
  }
  .price{
    font-size: 20px !important;
  }
  .v-card-title{
    font-size: 20px !important;
  }
  .price-shopping{
    font-size: 20px !important;
    
  }
  .card{
    display: flex;
    // background-color: #004886;
    // background-color: #7198b9;
    // background-color: #919191;
    
    
  }

}
@include xl{
  v-img{
    width:  auto;
    height : auto;
  }
  .v-card-title{
    font-size: 30px !important;
  }
  .v-card-subtitle{
    font-size: 30px !important;
  }
}
}