.v-card .v-card-subtitle
  line-height: 1.25rem
  line-height: 50px
  font-size: 26px
  text-align: end
  padding: 5px
.food-name
  line-height: 20px
  text-align: start
.image
  height: 100px
  width: 100px

.price-shoppimg
  text-align: end

pre
  text-align: start
